* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.library {
    display: flex;
    flex-wrap: wrap;
}

#new-book-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px;
    margin-bottom: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5)
}

form {
    height: 350px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 1.1rem;
}

input {
    width: 80%;
    padding: 6px;

    border-style: none;
    border-radius: 6px;
    background-color: rgb(192, 190, 190);
}

.read-wrapper {
    display: flex;
    gap: 5px;
}

.read,
.not-read {
    padding: 4px 10px;
    margin-bottom: 20px;

    color: white;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}

.read {
    background-color: rgb(51, 171, 51);
}

.not-read {
    background-color: rgb(224, 62, 62);
}

#new-book-button,
#add-button,
#close-button,
.remove-button {
    padding: 4px 10px;

    border-radius: 6px;
    border-style: none;
    background-color: rgb(56, 100, 188);
    color: white;
    cursor: pointer;
}

#add-button {
    margin-top: 40px;
    width: 85%;
}

.card {
    height: 200px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid black;
}

.card-header {
    font-size: 1.2rem;
}

.remove-button {
    width: 80%;
}